@import '../../common/colors.scss';

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: $font-primary;
    font-size: 20px;
  }

  &__user-img,
  &__user-img img {
    width: 38px;
    height: 38px;
  }
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    width: 70%;
    justify-content: center;

    input {
      font-size: 18px;
      width: 100%;
      padding: 5px 5px 5px 10px;
      height: 38px;
      outline: none;
    }

    button {
      padding: 0px 8px;
      display: grid;
      place-items: center;

      .search-icon {
        font-size: 22px;
      }
    }
  }
}
